:root {
    --accent-color: #46A358;
    --secondary-color: #3D3D3D;
    --main-color: #FFFFFF;
    --bg-secondary-color: #FBFBFB;

    --font-sm: 14px;
    --font-md: 16px;
    --font-xl: 18px;

    --content-width: 1300px;

    --categories-menu-width: 270px;
    --catalog-gap: 50px;
    --categories-menu-full-width: calc(var(--categories-menu-width) + var(--catalog-gap));
}

body {
    font-family: 'Cera Pro DEMO', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md);
}

a {
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 15px;
}
.catalog {
    margin-top: 20px;
}
.catalog__content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--catalog-gap);
}



.catalog__categories {
    background-color: var(--bg-secondary-color);
    padding: 15px;
    min-width: var(--categories-menu-width);
    max-width: 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.catalog__categories h4 {
    font-size: var(--font-xl);
    font-weight: bold;
    margin-bottom: 15px;
}


a.active {
    color: var(--accent-color);
}

.catalog__categories ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.sale__banner{
    display: flex;
    flex-direction: column;

}
.sale__banner h1{
    margin-top: 30px;
    color: var(--accent-color);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.sale__banner h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.search__menu{
    display: flex;
    justify-content: space-between;
    width: 910px;
}
.catalog__products {
    display: flex;
    gap: 25px;
    width: 910px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__product{
    flex-basis: 250px;
}

.catalog__product-price{
    margin-top: 10px;
    color: var(--accent-color);
    font-weight: bold;
}

.list__page{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;
}

.list__page__active{
    padding: 9px;
    font-size: 25px;
    color: white;
    background-color: green;
    border: 1px #3D3D3D inset;
    border-radius: 10px;
}

.list__page a{
    padding: 9px;
    font-size: 25px;
    border: 1px #3D3D3D inset;
    border-radius: 10px;
}
.page-button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    background-color: rgba(70, 163, 88, 0.1);
}

.page-button:first-child {
    background-color: #46A358;
    color: #FFFFFF;
}

.page-button:nth-child(n+2) {
    opacity: 0.5;
}

.page-button:first-child:hover {
    background-color: #3D854D;
}

.page-button:hover {
    background-color: #3D854D;
}
.pagination {
    text-align:left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-button {
    margin-left: 5px;
    margin-right: 0;
}